.wrapper__header {
	background-color: #222327;
}

.header {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__title {
	font-size: 26px;
	font-weight: bold;
}

.header__item {
	display: flex;
	align-items: center;
}

.header__item span {
	font-size: 16px;
	color: #949597;
}

.header__item > :not(:last-child) {
	margin-right: 15px;
}

.header__img {
	height: auto;
}
